body {
  background: url("https://source.unsplash.com/_JBKdviweXI/1920x1080") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#codyPicture {
  margin: 15px 25px 15px 15px;
  float: left;
}
