/*--Applies to entire page--*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: grey;
}

/*--Background Image--*/

body {
  background-image: url("Assets/grey\ background.jpg");
}

/*--Navigation*/

.header {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  border-bottom: 2px solid lightgrey;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-brand {
  float: left;
  background-color: #59aaa5;
  color: white !important;
  font-size: 40px !important;
  text-align: center !important;
  margin: 0 !important;
  padding: 25px !important;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-item {
  font-size: 18px;
  list-style: none;
}

.navbar .navbar-expand-lg {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-collapse {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  display: block !important;
}

/*--All Main Element Styles*/

.container {
  margin: 0 auto;
}

main {
  padding-top: 130px;
}

h1 {
  font-family: Georgia;
  color: #59aaa5;
  font-weight: bold;
}

hr {
  margin-top: 30px !important;
  margin-bottom: 35px !important;
  border-top: 2px solid lightgrey !important;
}

/*--About Style Elements*/

#codyPicture {
  margin: 15px 25px 15px 15px;
  float: left;
  height: 200px;
  width: auto;
}

#aboutmebox {
  float: left;
}

p {
  color: grey;
  line-height: 35px;
}

/*--Contact Style Elements*/

label {
  color: grey;
}

button {
  background-color: #59aaa5 !important;
  color: white !important;
  border-color: #59aaa5 !important;
  border-radius: 0 !important;
  padding: 5px 35px !important;
}

/*--Portfolio Style Elements*/

.card-img-overlay {
  padding: 0 auto !important;
}

h5 {
  background-color: #59aaa5;
  color: white;
  height: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  top: 60%;
}

.card-title {
  padding-top: 22px;
}

.Activity {
  position: relative !important;
  text-align: center;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*--Adds padding above footer for smaller screens*/

.push {
  height: 200px;
}

/*--Footer Styles*/

main {
  padding-top: 250px;
}

footer {
  border-top: 10px solid #59aaa5;
  position: fixed;
  text-align: center;
  color: white;
  background-color: #666666;
  left: 0;
  bottom: 0;
  padding: 40px;
  min-width: 100%;
  max-width: 100%;
}

/*--Media Queries XS*/
@media screen and (max-width: 576px) {
  .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
  }
}

/*--Media Queries S*/

@media screen and (max-width: 768px) {
  .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
  }
}
.navbar-collapse .justify-content-end {
  text-align: center;
  padding: 0 auto;
  width: 100%;
}
